html {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 8px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  display: inline-block;
  margin: 0;
}

h1 + p:before, h1 + p:after {
  font-weight: bold;
  margin: 8px;
}

h1 + p {
  display: inline-block;
  opacity: 0.7;
  font-size: 0.8em;
}

h2, h3, h4, h5, h1 + p {
  text-transform: capitalize;
}

sup, sub {
  text-transform: initial;
}

body {
  max-width: 920px;
  margin: auto;
}

img {
  max-width: 100%;
}

@media (min-width: 360px) {
  h1 + p:before {
    content: '[';
  }
  h1 + p:after {
    content: ']';
  }
}
